@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import './variables_mixins.scss';

body {
  margin: 0;
  color: $color-oscuro;
  background-color: $gris-1;
  font-family: $Fuente1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul, ol {
  list-style: none;
}

button {
  border: none;
  background: transparent;
}

a {
  text-decoration: none;
  color: $color-oscuro;
}

.circular {
  border-radius: 50%;
  overflow: hidden;
}
